In [1]:
import pandas as pd

# Sample dataset
data = {
    'Student': ['A','B','C','D','E','F','G','H','I','J'],
    'Hours_Studied': [2,3,4,5,6,7,8,9,10,11],
    'Scores': [21,25,30,34,40,45,50,55,60,65]
}

df = pd.DataFrame(data)
df

  Student  Hours_Studied  Scores
0       A              2      21
1       B              3      25
2       C              4      30
3       D              5      34
4       E              6      40
5       F              7      45
6       G              8      50
7       H              9      55
8       I             10      60
9       J             11      65

In [3]:
# First 5 rows
print(df.head())

# Statistics summary
print(df.describe())

# Check for missing values
print(df.isnull().sum())

# Add Pass/Fail column
df['Result'] = df['Scores'].apply(lambda x: 'Pass' if x >= 40 else 'Fail')
print(df)

  Student  Hours_Studied  Scores Result
0       A              2      21   Fail
1       B              3      25   Fail
2       C              4      30   Fail
3       D              5      34   Fail
4       E              6      40   Pass
       Hours_Studied     Scores
count       10.00000  10.000000
mean         6.50000  42.500000
std          3.02765  15.035144
min          2.00000  21.000000
25%          4.25000  31.000000
50%          6.50000  42.500000
75%          8.75000  53.750000
max         11.00000  65.000000
Student          0
Hours_Studied    0
Scores           0
Result           0
dtype: int64
  Student  Hours_Studied  Scores Result
0       A              2      21   Fail
1       B              3      25   Fail
2       C              4      30   Fail
3       D              5      34   Fail
4       E              6      40   Pass
5       F              7      45   Pass
6       G              8      50   Pass
7       H              9      55   Pass
8       I             10      60   Pass
9       J             11      65   Pass

In [4]:
# Average score
avg_score = df['Scores'].mean()
print("Average Score:", avg_score)

# Count of Pass and Fail
result_counts = df['Result'].value_counts()
print(result_counts)

# Max & Min scores
print("Max Score:", df['Scores'].max())
print("Min Score:", df['Scores'].min())

Average Score: 42.5
Result
Pass    6
Fail    4
Name: count, dtype: int64
Max Score: 65
Min Score: 21

In [5]:
# Top 3 students
top_students = df.sort_values(by='Scores', ascending=False).head(3)
print(top_students)

# Students who studied more than 6 hours
hardworking = df[df['Hours_Studied'] > 6]
print(hardworking)

  Student  Hours_Studied  Scores Result
9       J             11      65   Pass
8       I             10      60   Pass
7       H              9      55   Pass
  Student  Hours_Studied  Scores Result
5       F              7      45   Pass
6       G              8      50   Pass
7       H              9      55   Pass
8       I             10      60   Pass
9       J             11      65   Pass